{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %} Editar Empresa {% endblock title %}

{% block css %}

	<!-- SmartCFDI -->
	<link rel="stylesheet" href="{% static 'empresa/empresa_form.css' %}" />

{% endblock css %}

{% block contenido %}

<ol class="breadcrumb">
	<li class="app-breadcrumb-inactive">
		<a href="{% url 'home.index' %}">
			<i class="fa fa-home" aria-hidden="true"></i>
			Inicio
		</a>
	</li>
	<li class="app-breadcrumb-inactive">
		<a href="{% url 'configuracion.empresa_lista' %}">
			<i class="fa fa-industry" aria-hidden="true"></i>
			Empresas
		</a>
	</li>
	<li class="active app-breadcrumb-active">Editar</li>
</ol>

<div class="container-fluid">

	<form action="" method="POST" enctype="multipart/form-data">
		<div class="panel panel-default">

			<div class="panel-heading">
				Empresa: <strong class="app-id-registro">{% if clave %} {{ clave }} {% endif %}</strong>
			</div>

			<div class="panel-body">

				{% csrf_token %}
				{{ form.as_p }}
				
			</div>

			<div class="panel-footer">
				<a href="{% url 'configuracion.empresa_lista' %}"type="button" class="btn btn-default">Regresar</a>
				<button class="btn btn-success pull-right" type="submit">Guardar</button>	
			</div>
		</div>
	</form>

</div>

{% endblock contenido %}