
{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %} Empresas {% endblock title %}

{% block css %}

<!-- Kendo -->
<link rel="stylesheet" href="{% static 'libs/kendo/styles/kendo.rtl.min.css' %}"/>
<link rel="stylesheet" href="{% static 'libs/kendo/styles/kendo.common-bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'libs/kendo/styles/kendo.bootstrap.min.css' %}"/>

<!-- APP -->
<link rel="stylesheet" href="{% static 'empresa/empresa_lista.css' %}" />

{% endblock css %}

{% block contenido %}

<ol class="breadcrumb">
	<li class="app-breadcrumb-inactive">
		<a href="{% url 'home:index' %}">
			<i class="fa fa-home" aria-hidden="true"></i>
			Inicio
		</a>
	</li>
	<li class="active app-breadcrumb-active">
		<i class="fa fa-building-o" aria-hidden="true"></i>
		Empresas
	</li>
</ol>

<input type="text" id="url_empresa_editar" class="hidden" value="{% url 'configuracion:empresa_editar' 0 %}">

<div class="container-fluid app-resultados">

	<div class="well well-sm app-resultados-tooblar">
		<a class="btn btn-primary btn-sm" href="{% url 'configuracion:empresa_nuevo' %}">
			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
			Nueva
		</a>		
	</div>

	<div id="resultados" class="app-resultados-grid" >
	</div>			
</div>

{% endblock contenido %}

{% block scripts %}

<!-- Alertifyjs -->
<script src="{% static 'libs/alertifyjs/alertify.min.js' %}"></script>

<!-- Kendo Js-->
<script src="{% static 'libs/kendo/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
<script src="{% static 'libs/kendo/js/kendo.web.min.js' %}"></script>

<!-- APP -->
<script src="{% static 'empresa/empresa_lista.js' %}"></script>

{% endblock scripts %}