
{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %} Empresa - Verificando Credenciales {% endblock title %}

{% block css %}

    <!-- SmartCFDI -->
    <link rel="stylesheet" href="{% static 'empresa/empresa_verificacion.css' %}" />

{% endblock css %}

{% block contenido %}

    <ol class="breadcrumb">
        <li class="app-breadcrumb-inactive">
            <a href="{% url 'home:index' %}">
                <i class="fa fa-home" aria-hidden="true"></i>
                Inicio
            </a>
        </li>
        <li class="app-breadcrumb-inactive">
            <a href="{% url 'configuracion:empresa_lista' %}">
                <i class="fa fa-building-o" aria-hidden="true"></i>
                Empresas
            </a>
        </li>
        <li class="active app-breadcrumb-active">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            Verificacion
        </li>
    </ol>

    <div class="container">
        
        <div class="jumbotron jumbotron-blanco">
          <h1>Se estan realizando un login de prueba!</h1>
          <p>
            Puede continuar con sus actividades y volver despues para consultar 
            el registro de la empresa y ver el resultado de la verificacion.
          </p>
          <p><a class="btn btn-primary btn-lg" href="{% url 'home:index' %}" role="button">Regresar al inicio</a></p>
        </div>

    </div>


{% endblock contenido %}

{% block scripts %}

{% endblock scripts %}