{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %} Editar Empresa {% endblock title %}

{% block css %}

	<!-- SmartCFDI -->
	<link rel="stylesheet" href="{% static 'empresa/empresa_form.css' %}" />

{% endblock css %}

{% block contenido %}

<ol class="breadcrumb">
	<li class="app-breadcrumb-inactive">
		<a href="{% url 'home:index' %}">
			<i class="fa fa-home" aria-hidden="true"></i>
			Inicio
		</a>
	</li>
	<li class="app-breadcrumb-inactive">
		<a href="{% url 'configuracion:empresa_lista' %}">
			<i class="fa fa-building-o" aria-hidden="true"></i>
			Empresas
		</a>
	</li>
	<li class="active app-breadcrumb-active">
  	<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
		Editar
	</li>
</ol>

<div class="container-fluid">

	<form action="" method="POST" enctype="multipart/form-data">
		<div class="panel panel-default">

			<div class="panel-heading">
				Empresa: <strong class="app-id-registro">{% if empresa.clave %} {{ empresa.clave }} {% endif %}</strong>
				<span class="badge" id="empresa_pk">{{ empresa.pk }}</span>

				{% if empresa.verificada == "VER" %}
					<span class="label label-success verifi-label pull-right">{{ empresa.get_verificada_display }}</span>
				{% elif empresa.verificada == "PEN" %}
					<span class="label label-default verifi-label pull-right">{{ empresa.get_verificada_display }}</span>
				{% elif empresa.verificada == "PRO" %}
					<span class="label label-warning verifi-label pull-right">{{ empresa.get_verificada_display }}</span>					
				{% else %}
					<span class="label label-danger verifi-label pull-right">{{ empresa.get_verificada_display }}</span>
				{% endif %}
				
			</div>

			<div class="panel-body">

				{% csrf_token %}
				{{ form.as_p }}
				
			</div>

			<div class="panel-footer">
				<a href="{% url 'configuracion:empresa_lista' %}" type="button" class="btn btn-default">Regresar</a>
				<a href="{% url 'configuracion:empresa_verificacion' empresa.pk %}" class="btn btn-info">Probar Credenciales</a>
				<button class="btn btn-success pull-right" type="submit">Guardar</button>	
			</div>
		</div>
	</form>

</div>

{% endblock contenido %}

{% block scripts %}

	<!-- SmartCFDI -->
	<script src="{% static 'empresa/empresa.js' %}"></script>

{% endblock scripts %}	


