
{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %} Dashboard {% endblock title %}

{% block css %}
	<link rel='stylesheet' href="{% static 'home/dashboard.css' %}" />
{% endblock css %}

{% block contenido %} 

<ol class="breadcrumb">
	<li><a href="{% url 'home.index' %}">Inicio</a></li>
	<li class="active">Dashboard</li>
</ol>

<div class="container-fluid">

	<div class="row titulo">
		<div class="col-md-12">
			<div class="page-header">
				<h2>Empresas:</h2>
			</div>
		</div>
	</div>

	<div class="row">

		{% if lista_empresas_resumen %}

			{% for resumen in lista_empresas_resumen %}

				<div class="col-md-4 contenedor">
					<div class="row empresas">
						<div class="col-xs-12 col-sm-12 col-md-4">

							<img class="logo" src="{{ MEDIA_URL }}{{ resumen.empresa.logo }}" alt="logo">
					    </div>
					    <div class="col-xs-12 col-sm-12 col-md-8 nom_emp">
							Empresa: <br>
							{{ resumen.empresa.razon_social }}
						</div>
					    <div class="col-md-12 mes">
							Reporte Mensual Octubre 2016
					    </div>
					    <div class="col-md-6 col-xs-6 tab">
							{{ resumen.cantidad_proveedores }} <br>
							Folios Proveedores
					    </div>
					    <div class="col-md-6 col-xs-6 tab">
							${{ resumen.total_proveedores }} <br>
							Importe
					    </div>
						<div class="col-md-6 col-xs-6 tab">
							{{ resumen.cantidad_clientes }} <br>
							Folios Clientes
						    </div>
					    <div class="col-md-6 col-xs-6 tab">
							${{ resumen.total_clientes }} <br>
							Importe
					    </div>
						<div class="col-md-6 col-xs-6 tab">
							{{ resumen.cantidad_nomina }} <br>
							Folios Nomina
						    </div>
					    <div class="col-md-6 col-xs-6 tab">
							${{ resumen.total_nomina }} <br>
							Importe
					    </div>					    
					</div>
				</div>
			{% endfor %}

		{% else %}
			<div class="col-md-12">
				<h3>No se tiene ninguna empresa configurada</h3>
			</div>

		{% endif %}

	</div>
</div>

{% endblock contenido %}
