{% extends 'master.html' %}

{% load static from staticfiles %}

{% load humanize %}

{% block title %} Dashboard {% endblock title %}

{% block css %}
    <link rel='stylesheet' href="{% static 'home/dashboard_detalle.css' %}" />
{% endblock css %} 

{% block contenido %} 

<ol class="breadcrumb">
	<li><a href="{% url 'home.index' %}">Inicio</a></li>
	<li class="active">Dashboard_detallado</li>
</ol>

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h3>Dasboard detallado:</h3>
			</div>
		</div>
	</div>


	<div class="row">
	

		<div class="col-md-9">
			

				<div class="col-md-3">
					<h1>Proveedores</h1>
					<h2>{{ resumen.proveedores_cantidad }} Folios </h2>
					<h4>$ {{ resumen.proveedores_total | floatformat:2 | intcomma }} </h4><br>
				</div>
				<div class="col-md-3">
					<h1>Clientes</h1>
					<h2>{{ resumen.clientes_cantidad }} Folios </h2>
					<h4>$ {{ resumen.clientes_total | floatformat:2 | intcomma }} </h4><br>
				</div>
				<div class="col-md-3">
					<h1>Nomina</h1>
					<h2>{{ resumen.nomina_cantidad }} Folios </h2>
					<h4>$ {{ resumen.nomina_total | floatformat:2 | intcomma }} </h4><br>
				</div>

			


			<div class="col-md-12">
				<h3>grafica</h3>

				<canvas id="myChart"></canvas>
					
					
			</div>

			<div class="col-md-12">
				<h3>tabla</h3>
			</div>
		</div>

		<div class="col-md-3">
			<div class="page-header">
				<h3>sidebar mensajes</h3>
			</div>
		</div>

	</div>


</div>


{% endblock contenido %}

