
{% extends 'master.html' %}

{% load static from staticfiles %}

{% load humanize %}

{% block title %} Dashboard {% endblock title %}

{% block css %}
    <link rel='stylesheet' href="{% static 'home/dashboard.css' %}" />
{% endblock css %} 

{% block contenido %} 

<ol class="breadcrumb">
	<li><a href="{% url 'home.index' %}">Inicio</a></li>
	<li class="active">Dashboard</li>
</ol>

<div class="container-fluid">

	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h3>Dasboard:</h3>
			</div>
		</div>
	</div>

	<div class="row fila ">

		{% if lista_empresas_resumen %}

			{% for resumen in lista_empresas_resumen %}

				<div class="col-md-4 targeta">
				
					<div class="row fila empresas">
						<div class="col-xs-12 col-sm-12 col-md-4">
							{% if resumen.empresa.logo %}
							<img class="logo" src="{{ MEDIA_URL }}{{ resumen.empresa.logo }}" alt="logo">
							{% else %}
							<img src="{% static 'images/no-image.jpg' %}" class="img-responsive img-thumbnail" alt="imagen">
							{% endif %}
					    </div>
					    <div class="col-xs-12 col-sm-12 col-md-8 nom_emp">
							{{ resumen.empresa.razon_social }}
						</div>
					    <div class="col-md-12 mes">
							Reporte Mensual Octubre 2016
					    </div>
					    <div class="col-md-6 col-xs-6 tab">
							{{ resumen.cantidad_proveedores }} <br>
							Folios Proveedores
					    </div>
					    <div class="col-md-6 col-xs-6 tab">
							$ {{ resumen.total_proveedores | floatformat:2 | intcomma }} <br>
							Importe
					    </div>
						<div class="col-md-6 col-xs-6 tab">
							{{ resumen.cantidad_clientes }} <br>
							Folios Clientes
						    </div>
					    <div class="col-md-6 col-xs-6 tab">
							$ {{ resumen.total_clientes | floatformat:2 | intcomma }} <br>
							Importe
					    </div>
						<div class="col-md-6 col-xs-6 tab">
							{{ resumen.cantidad_nomina }} <br>
							Folios Nomina
						    </div>
					    <div class="col-md-6 col-xs-6 tab">
							$ {{ resumen.total_nomina | floatformat:2 | intcomma }} <br>
							Importe
					    </div>					    
					</div>
				</div>
			{% endfor %}

		{% else %}
			<div class="col-md-12">
				<h3 class="titulo">No se tiene ninguna empresa configurada</h3>
			</div>

		{% endif %}

	</div>
</div>

{% endblock contenido %}
