{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>SmartCFDI - Inicio</title>

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}" />
  <link rel='stylesheet' href="{% static 'home/index.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet"> 

</head>
<body>

  <div id="wrap">
    <div id="main">
      
    <nav class="navbar navbar-default">
      <div class="container-fluid">
      
        <div class="navbar-header">

          <img src="{% static 'images/smartCFDI.jpg' %}" class="logoindex" alt="SmartCFDI"> 
          

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="menu">
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'home.dashboard' %}">Dashboard</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                Comprobantes
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'facturas.factura_proveedor_lista' %}">Proveedores</a></li>
                <li><a href="{% url 'facturas.factura_cliente_lista' %}">Clientes</a></li>
                <li><a href="{% url 'facturas.comprobante_empleado_lista' %}">Empleados</a></li>
                <li><a href="{% url 'facturas.resumen_lista' %}">Resumen</a></li>
                <li><a href="{% url 'facturas.log_lista' %}">Logs</a></li>
                <li><a href="{% url 'facturas.obtener_facturas' %}">Obtener</a></li>
              </ul>             
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                Configuracion
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">          
                <li><a href="{% url 'configuracion.empresa_lista' %}">Empresas</a></li>
              </ul>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                
                {% if user.username == "root" %}
                  Administrador
                {% else %}
                  {{ user.username }}
                {% endif %}
                
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                {% if user.is_staff %}
                <li><a href="{% url 'seguridad.usuario_lista' %}">Usuarios</a></li>
                {% endif%}                  
                <li><a href="{% url 'seguridad.logout' %}">Salir</a></li>
              </ul>
            </li>
            {% else %}
                <li><a href="{% url 'home.quienes_somos' %}">¿Quienes somos?</a></li>
                <li><a href="{% url 'home.servicios' %}">Servicios</a></li>
                <li><a href="{% url 'home.contactanos' %}">Contactanos</a></li>
            <li><a href="{% url 'seguridad.login' %}">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
    
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="{% static 'images/slide01.jpg' %}"> 
          <div class="carousel-caption">
            <h3>CFDISMART</h3>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
            <h5>Mauris varius lacus vel mi venenatis, auctor tempor sagittis. Maecenas nec mi hendrerit, rutrum diam ut,      hendrerit neque. Etiam nec libero urna. Fusce feugiat. </h5>
          </div>
        </div>

        <div class="item">
          <img src="{% static 'images/slide01.jpg' %}"> 
          <div class="carousel-caption">
            <h3>CFDISMART</h3>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
            <h5>Mauris varius lacus vel mi venenatis, auctor tempor sagittis. Maecenas nec mi hendrerit, rutrum diam ut,      hendrerit neque. Etiam nec libero urna. Fusce feugiat. </h5>
          </div>
        </div>

        <div class="item">
          <img src="{% static 'images/slide01.jpg' %}"> 
          <div class="carousel-caption">
            <h3>CFDISMART</h3>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
            <h5>Mauris varius lacus vel mi venenatis, auctor tempor sagittis. Maecenas nec mi hendrerit, rutrum diam ut,      hendrerit neque. Etiam nec libero urna. Fusce feugiat. </h5>
          </div>
        </div>

        <div class="item">
          <img src="{% static 'images/slide01.jpg' %}"> 
          <div class="carousel-caption">
            <h3>CFDISMART</h3>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
            <h5>Mauris varius lacus vel mi venenatis, auctor tempor sagittis. Maecenas nec mi hendrerit, rutrum diam ut,      hendrerit neque. Etiam nec libero urna. Fusce feugiat. </h5>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    </div>

    <div class="container">

      <div class="row">
        <div class="col-sm-12">
           <h1 class="center-orange-text"> Nuestros servicios</h1>
        </div>

        <div class="col-sm-10 col-sm-offset-1">
          <div align="center">
              <p>Nuestra solución organiza todos tus comprobantes digitales (CFDI) ya que los descarga en forma automática, los almacena y te proporciona una interfaz amigable para administrarlos.</p>

              <p>Puedes acceder a tus comprobantes digitales de forma segura, fácil y en donde quieras que estés, desde un navegador de internet y desde cualquier dispositivo.</p>

              <p>Incluimos gráficas y estadísticas para una mejor toma de decisiones en el pago de tus impuestos. Te permite conservar tus comprobantes digitales tanto los que recibes como los que emites hasta por 5 años y verificarlos ante el SAT.</p>
              
            <br>
            <br>
            <br>
            <br>
            
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid seccion-orange"> 
      <div class="row">
          <div class="col-sm-10 col-md-offset-2">
            <h2>Todos tus comprobantes digitales </br> en un solo lugar</h2>
            
              <div class="col-sm-2 col-md-offset-1">
              <img src="{% static 'images/seguro.png' %}" class="logoservicios" alt="Seguro"> 
              </div>

              <div class="col-sm-2">
              <img src="{% static 'images/acceso.png' %}" class="logoservicios" alt="Acceso rapido"> 
              </div>

              <div class="col-sm-2">
              <img src="{% static 'images/unsolo.png' %}" class="logoservicios" alt="Un solo lugar"> 
              </div>

              <div class="col-sm-2">
              <img src="{% static 'images/accesa.png' %}" class="logoservicios" alt="Accesa desde cualquier lugar"> 
              </div>
            
          </div>   
      </div>
    </div>

    <div class="container"> 
      <div class="row">
        <div class="col-sm-12">
           <h1 class="center-orange-text">¿Como funciona?</h1>
        </div>

        <div class="col-sm-10 col-sm-offset-1">
          
              <p>SmartCFDI es una plataforma robusta que consta de varios componentes, que permiten concentrar en un base de datos toda la información contenida en los CFDI-XML que recibes de tus proveedores, las facturas que emites a tus clientes y los recibos de nómina.</p>
              <P>El sistema monitorea diariamente los comprobantes directamente en el SAT y los pone a tu disposición dentro de la aplicación WEB, en donde por medio de filtros podrás localizar comprobantes por fecha de expedición, RFC receptor o emisor, etc.. y exportar a excel el resultado de la búsqueda.</p>
            <br><img src="{% static 'images/servicios.jpg' %}" class="imgcenter" alt="Servicios"> 
            <br>
            <br>
            
          
        </div>
      </div>
    </div>

    <div class="container-fluid seccion-grey">
      <div class="col-sm-10 col-md-offset-1">
          <div class="col-sm-12">
            <h1 class="center-orange-text">Un plan que se adapte a tus necesides</h1>
            </br>
          </div>
      

            <div class="col-sm-4">
             <ul class="price">
                <li class="header">FREE</li>
                <li class="descripcion">Aqui va una descripcion breve del plan Ejemplo: Especial para personas con menos de 600 comprobantes anuales. </li>
                <li>PAGO ANUAL SIN COSTO</li>
                <li>300 COMPROBANTES</li>
                <li>LIMITADO A 1 RFC</li>
                <li>ALMACENAMIENTO HASTA POR 1 AÑO</li>
                <li class="costo">$ 0 <p>SIN COSTO</p> </li>
                <li class="orange"><a href="#" class="button">Iniciar</a></li>
              </ul>
            </div>

            <div class="col-sm-4">
             <ul class="price">
                <li class="header">PERSONA FISICA</li>
                <li class="descripcion">Aqui va una descripcion breve del plan Ejemplo: Especial para personas con menos de 600 comprobantes anuales.</li>
                <li>PAGO ANUAL UNICO</li>
                <li>600 COMPROBANTES</li>
                <li>LIMITADO A 2 RFC</li>
                <li>ALMACENAMIENTO HASTA POR 2 AÑOS</li>
                <li class="costo">$ 600.00 <p>COSTO ANUAL</p> </li>
                <li class="orange"><a href="#" class="button">Iniciar</a></li>
              </ul>
            </div>

            <div class="col-sm-4">
              <ul class="price">
                <li class="header">PEQUEÑA EMPRESA</li>
                <li class="descripcion">Aqui va una descripcion breve del plan Ejemplo: Especial para personas con menos de 600 comprobantes anuales.</li>
                <li>PAGO ANUAL UNICO</li>
                <li>COMPROBANTES ILIMITADOS</li>
                <li>RFC ILIMITADOS</li>
                <li>ALMACENAMIENTO HASTA POR 3 AÑOS</li>
                <li class="costo">$ 1,200.00 <p>COSTO ANUAL</p> </li>
                <li class="orange"><a href="#" class="button">Iniciar</a></li>
              </ul>
            </div>
      </div>

    </div>

    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <p> Terminos y Condiciones </p>
          <p> Aviso de privacidad</p>
          <p> Desarrollado por Oktosys S.A. de C. V. </p>
        </div>
        <div class="col-sm-4">
          <p> Solicite soporte</p>
          <p> Preguntas frecuentes</p>
          </br>
          <p> Contáctanos </p>
          <p> smartcfdi@oktosys.com.mx </p>
        </div>
        <div class="col-sm-4">
          <p> Siguenos en:</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="{% static 'libs/jquery/jquery_2.2.4.js' %}"></script>
  <script src="{% static 'libs/bootstrap/js/bootstrap.js' %}"></script>

</body>
</html>

