{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %}
	SmartCFDI - Inicio
{% endblock title %}

{% block css %}
	<link rel='stylesheet' href="{% static 'libs/fullcalendar/fullcalendar.css' %}" />
	<link rel='stylesheet' href="{% static 'home/index.css' %}" />
{% endblock css %}


{% block contenido %}

<div class="jumbotron">
	<h1>SLIDE</h1>

	<p>
		Un portal moderno donde consultar informacion de tus facturas de una forma rapida y sencilla
	</p>

	<form action="" method="POST"> 
		{% csrf_token %}
		<p><button class="btn btn-primary btn-lg">Inicia aquí</button></p>
	</form>
	      <br>
        <br>
        <br>
        <br>
        <br>
        <br>
</div>

<div class="container">

  <div class="row">
  <div class="col-sm-12">
  <h2 class="center light-blue-text"><i class="material-icons">¿COMO FUNCIONA?</i></h2>
  </div>
    <div class="col-sm-12">
      <div align="center">
          <p>We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers. We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          <p>We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers. We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
      </div>
    </div>

    


  </div>


  <div class="row">
      <div class="col-sm-6">
        <h3>Todos tus comprobantes digitales <br>
        en un solo lugar</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>

      <div class="col-sm-6">
        <h3>candado</h3>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
  </div>


  <div class="row">
      <div class="col-sm-12">
        <h2 class="center-orange-text">Un plan que se adapte a tus necesides</h2>
      </div>
  

        <div class="columns">
         <ul class="price">
            <li class="header">FREE</li>
            <li class="descripcion">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers. </li>
            <li>PAGO ANUAL SIN COSTO</li>
            <li>600 COMPROBANTES</li>
            <li>LIMITADO A 1 RFC</li>
            <li>ALMACENAMIENTO HASTA POR 1 AÑO</li>
            <li class="costo">$ 0 <p>SIN COSTO</p> </li>
            <li class="orange"><a href="#" class="button">Iniciar</a></li>
          </ul>
        </div>

        <div class="columns">
         <ul class="price">
            <li class="header">PERSONA FISICA</li>
            <li class="descripcion">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers. </li>
            <li>10GB Storage</li>
            <li>10 Emails</li>
            <li>10 Domains</li>
            <li>1GB Bandwidth</li>
            <li class="costo">$ 600.00 <p>COSTO ANUAL</p> </li>
            <li class="orange"><a href="#" class="button">Iniciar</a></li>
          </ul>
        </div>

        <div class="columns">
          <ul class="price">
            <li class="header">PEQUEÑA EMPRESA</li>
            <li class="descripcion">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</li>
            <li>10GB Storage</li>
            <li>10 Emails</li>
            <li>10 Domains</li>
            <li>1GB Bandwidth</li>
            <li class="costo">$ 1,200.00 <p>COSTO ANUAL</p> </li>
            <li class="orange"><a href="#" class="button">Iniciar</a></li>
          </ul>
        </div>
  </div>

</div>

{% endblock contenido %}

{% block scripts %}
	
	<script src="{% static 'libs/fullcalendar/lib/moment.min.js' %}">></script>
	<script src="{% static 'libs/fullcalendar/fullcalendar.js' %}">></script>
	<script src="{% static 'libs/fullcalendar/locale/es.js' %}"></script>

{% endblock scripts %}