{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %}
	SmartCFDI - Inicio
{% endblock title %}

{% block css %}
	<link rel='stylesheet' href="{% static 'libs/fullcalendar/fullcalendar.css' %}" />
	<link rel='stylesheet' href="{% static 'home/index.css' %}" />
{% endblock css %}


{% block contenido %}

<div class="jumbotron">
	<h1>Facturas SAT</h1>

	<p>
		Un portal moderno donde consultar informacion de tus facturas de una forma rapida y sencilla
	</p>

	<form action="" method="POST"> 
		{% csrf_token %}
		<p><button class="btn btn-primary btn-lg">Inicia aquí</button></p>
	</form>
	
</div>

<div class="container">

  <div class="row">
    <div class="col-sm-4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
        <h5 class="center">Rapidez en la consultadddddddd</h5>

        <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
        <h5 class="center">Centrado en la experiencia de usuario</h5>

        <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
        <h5 class="center">Facil de utilizar</h5>

        <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
      </div>
    </div>
  </div>

</div>

{% endblock contenido %}

{% block scripts %}
	
	<script src="{% static 'libs/fullcalendar/lib/moment.min.js' %}">></script>
	<script src="{% static 'libs/fullcalendar/fullcalendar.js' %}">></script>
	<script src="{% static 'libs/fullcalendar/locale/es.js' %}"></script>

	<script src="{% static 'index.js' %}">></script>

{% endblock scripts %}