{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %} Nuevo Usuario {% endblock title %}

{% block contenido %}

<ol class="breadcrumb">
	<li class="app-breadcrumb-inactive">
		<a href="{% url 'home:index' %}">
			<i class="fa fa-home" aria-hidden="true"></i>
			Inicio
		</a>
	</li>
	<li class="app-breadcrumb-inactive">
		<a href="{% url 'seguridad:usuario_lista' %}">
			<i class="fa fa-users" aria-hidden="true"></i>
			Usuarios
		</a>
	</li>
	<li class="active app-breadcrumb-active">
		<i class="fa fa-user-plus" aria-hidden="true"></i>
		Nuevo
	</li>
</ol>

<div class="container-fluid">

	<form action="" method="POST" enctype="multipart/form-data">
		<div class="panel panel-default">

			<div class="panel-heading">
				Datos del Usuario:
			</div>

			<div class="panel-body">
			
				{% csrf_token %}
				{{ form.as_p }}
				
			</div>

			<div class="panel-footer">
				<a href="{% url 'seguridad:usuario_lista' %}" type="button" class="btn btn-default">Regresar</a>
				<button class="btn btn-success pull-right" type="submit">Guardar</button>	
			</div>
		</div>
	</form>
</div>

{% endblock contenido %}