
{% extends 'master.html' %}

{% load static from staticfiles %}

{% load humanize %}


{% block title %} Usuarios {% endblock title %}

{% block css %}

	<!-- SmartCFDI -->
	<link rel="stylesheet" href="{% static 'usuario/usuario_lista.css' %}" />

{% endblock css %}

{% block contenido %}

<ol class="breadcrumb">
	<li class="app-breadcrumb-inactive">
		<a href="{% url 'home:index' %}">
			<i class="fa fa-home" aria-hidden="true"></i>
			Inicio
		</a>
	</li>
	<li class="active app-breadcrumb-active">
		<i class="fa fa-users" aria-hidden="true"></i>
		Usuarios
	</li>
</ol>

<div class="container-fluid app-body">

	{% if usuarios %}

			<div class="container-fluid app-seccion-titulo">
				<div class="row">
					<div class="col-sm-12">
						<h4>
							<span class="app-titulo">{{ paginator.count }} Usuarios</span>

							<a class="btn btn-primary pull-right app-boton-agregar" href="{% url 'seguridad:usuario_nuevo' %}">
								<i class="fa fa-user-plus" aria-hidden="true"></i>
								Agregar Usuario
							</a>							
						</h4>
					</div>
				</div>
			</div>

			<div class="container-fluid">

				<div class="row app-record-titles">

					<div class="col-sm-4 col-md-6">USUARIO</div>

					<div class="col-sm-1 col-md-1">ESTADO</div>

					<div class="col-sm-3 col-md-2">REGISTRO</div>

					<div class="col-sm-3 col-md-2">ULTIMO LOGIN</div>

					<div class="col-sm-1 col-md-1"></div>
					
				</div>

				{% for usuario in usuarios %}

					<div class="row app-record" >

						<!-- Clave y Estado -->
						<div class="visible-xs col-sm-5 app-column-pk {% if usuario.is_active %} app-column-pk-active {% else %} app-column-pk-disable {% endif %}">
							{{ usuario.username }}

							<span class="app-column-conten pull-right">
								{% if usuario.is_active %}
									<span class="glyphicon glyphicon-ok-sign app-data-activeicon" aria-hidden="true"></span>
								{% else %}
									<span class="glyphicon glyphicon-minus-sign app-data-disableicon" aria-hidden="true"></span>
								{% endif %}
							</span>
						</div>
						
						<!-- Clave y Descripcion -->
						<div class="col-sx-12 col-sm-4 col-md-6 app-column-main app-column--border">
							
							<div class="row">
								<div class="hidden-xs col-sm-12 col-md-3">
									{{ usuario.username }}
								</div>
								<div class="col-sx-12 col-sm-12 col-md-7 app-data-second">
									{{ usuario.get_full_name|default:"-" }}	
								</div>
							</div>
						</div>
						
						<!-- Estado -->
						<div class="hidden-xs col-sm-1 app-column app-column--center app-column--border app-column-estado">
							<span class="app-column-conten">
								{% if usuario.is_active %}
									<span class="glyphicon glyphicon-ok-sign app-data-icon-active" aria-hidden="true"></span>
								{% else %}
									<span class="glyphicon glyphicon-minus-sign app-data-icon-disable" aria-hidden="true"></span>
								{% endif %}
							</span>
						</div>

						<!-- Created By -->
						<div class="col-sx-12 col-sm-3 col-md-2 app-column app-column--border">
							<span class="app-data-label" >
								Registro: 
							</span>
							<span class="glyphicon glyphicon-calendar app-data-icon" aria-hidden="true"></span>
							<span class="app-data-normalvalue">
								{{ usuario.date_joined|naturalday|default:"&nbsp;" }}	
							</span>								
						</div>

						<!-- Last Login -->
						<div class="col-sx-12 col-sm-3 col-md-2 app-column">
							<span class="app-data-label" >
								Ultimo Login: 
							</span>
							<span class="glyphicon glyphicon-calendar app-data-icon" aria-hidden="true"></span>
							<span class="app-data-normalvalue">
								{{ usuario.last_login|naturalday|default:"-" }}	
							</span>					
						</div>
						
						<!-- Comand -->
						<div class="col-sx-12 col-sm-1 col-md-1 app-column-comand">
							<a href="{% url 'seguridad:usuario_editar' usuario.pk %}" class="app-link">
								<span class="glyphicon glyphicon-edit app-link-icon" aria-hidden="true"></span>								
								<span class="app-link-text">
									Editar
								</span>
							</a>
						</div>

					</div>

				{% endfor %}

				{% if is_paginated %}

			        <ul class="pagination app-paginacion">
			            {% if page_obj.has_previous %}
			                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
			            {% endif %}

			            {% for i in paginator.page_range %}
			                <li {% if page_obj.number == i %} class="active" {% endif %}>
			                    <a href="?page={{i}}">{{ i }}</a>
			                </li>
			            {% endfor %}

			            {% if page_obj.has_next %}
			                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
			            {% endif %}
			        </ul>
			    {% endif %}				
				
			</div>

	{% else %}
		<h3 class="sin-resultados">No se encontraron usuarios</h3>
	{% endif %}			


</div>

{% endblock contenido %}
