{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %} Comprobantes de Clientes {% endblock title %}

{% block css %}

<!-- Kendo -->
<link rel="stylesheet" href="{% static 'libs/kendo_2015_2_624/styles/kendo.rtl.min.css' %}"/>
<link rel="stylesheet" href="{% static 'libs/kendo_2015_2_624/styles/kendo.common.min.css' %}"/>
<link rel="stylesheet" href="{% static 'libs/kendo_2015_2_624/styles/kendo.default.min.css' %}"/>

<!-- Alertifyjs --> 
<link rel="stylesheet" href="{% static 'libs/alertifyjs/css/alertify.min.css' %}" />
<link rel="stylesheet" href="{% static 'libs/alertifyjs/css/themes/bootstrap.css' %}" />

<!-- jQuery UI --> 
<link rel="stylesheet" href="{% static 'libs/jquery-ui-1.12.1/jquery-ui.min.css' %}"/>

{% endblock css %}

{% block contenido %}

<ol class="breadcrumb">
	<li><a href="{% url 'home.index' %}">Inicio</a></li>
	<li class="active">Comprobantes Clientes</li>
</ol>

<div class="container-fluid">

	<div class="row">

		<!-- Filtros -->
		<div class="col-md-12">
			<form action="">
				<div class="panel-group">

					<div class="panel panel-default">
					  	<div class="panel-heading">
					      <h3 class="panel-title">
					      	<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
					        <a data-toggle="collapse" href="#filtros_id">
								Filtros
					        </a>
					      </h3>
					  	</div>
						<div id="filtros_id" class="panel-collapse collapse">
					  		<div class="panel-body">
					
								<div class="col-md-3">
									<div class="form-group filtros">
										<label for="{{ form.empresa.id_for_label }}">Empresa:</label>
										{{ form.empresa }}
									</div>
									<div class="form-group filtros">
									    <label for="{{ form.estadoSat.id_for_label }}">Estado SAT:</label>									
										{{ form.estadoSat }}
									</div>	

								</div>

								<div class="col-md-3">
									<div class="form-group filtros">
										<label for="{{ form.empresa.id_for_label }}">Folio:</label>
										{{ form.folio }}
									</div>
									
									<div class="form-group filtros">
										
										<div class="row">
											<div class="col-sm-12 col-md-12 col-lg-12">
												<label>Fecha Emision:</label>
											</div>
										</div>

										<div class="row">
											<div class="col-sm-6 col-md-6 col-lg-6">
												{{ form.fecha_inicio }}
											</div>

											<div class="col-sm-6 col-md-6 col-lg-6">
												{{ form.fecha_final }}
											</div>
										</div>																				
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group filtros">
										<label for="{{ form.empresa.id_for_label }}">Serie:</label>
										{{ form.serie }}
									</div>	
									
									<div class="form-group filtros">

										<div class="row">
											<div class="col-sm-12 col-md-12 col-lg-12">
												<label>Fecha Timbrado:</label>	
											</div>											
										</div>
										
										<div class="row">
											<div class="col-sm-6 col-md-6 col-lg-6">
												{{ form.fecha_timbrado_inicio }}
											</div>
											<div class="col-sm-6 col-md-6 col-lg-6">
												{{ form.fecha_timbrado_final }}
											</div>
										</div>

									</div>
								</div>


								<div class="col-md-3">

									<div class="form-group filtros">
										<label for="{{ form.empresa.id_for_label }}">UUID:</label>
										{{ form.uuid }}
									</div>

									<div class="form-group">

										<div class="row">
											<div class="col-sm-12 col-md-12 col-lg-12">
												<label>&nbsp;</label>	
											</div>											
										</div>

										<div class="row">
											<div class="col-sm-12 col-md-12 col-lg-12">
												<button type="button" class="btn btn-primary btn-sm" id="id_buscar">
									  				Buscar
									  			</button>
										  		<button type="button" class="btn btn-default btn-sm" id="id_limpiar">
										  			Limpiar
									  			</button>									  			
											</div>
										</div>
									</div>

								</div>
								
							</div>
														  	
						</div>
					</div>	
				</div>
			</form>
		</div>
	</div>
</div>

<div class="container-fluid contenedor">
	<div id="resultados" class="grid" >
	</div>			
</div>

<!-- Conceptos -->
<div id="id_conceptos">
	<div id="grid_conceptos" class="grid"></div>
</div>

<!-- Impuestos Trasladados -->
<div id="id_trasladados">
	<div id="grid_trasladados" class="grid"></div>
</div>

<!-- Impuestos Retenidos -->
<div id="id_retenidos">
	<div id="grid_retenidos" class="grid"></div>
</div>				


{% endblock contenido %}

{% block scripts %}

<!-- Alertifyjs -->
<script src="{% static 'libs/alertifyjs/alertify.min.js' %}"></script>

<!-- Kendo Js-->
<script src="{% static 'libs/kendo_2015_2_624/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
<script src="{% static 'libs/kendo_2015_2_624/js/kendo.web.min.js' %}"></script>

<!-- jQuery-UI -->
<script src="{% static 'libs/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

<!-- Js del Sitio -->
<script src="{% static 'factura_cliente/fac_cliente_lista.js' %}"></script>

{% endblock scripts %}

