
{% extends 'master.html' %}

{% load static from staticfiles %}

{% load humanize %}

{% block title %} Dashboard - Resumen por Año{% endblock title %}

{% block css %}
    <link rel='stylesheet' href="{% static 'all_by_year.css' %}" />
{% endblock css %} 

{% block contenido %} 

<ol class="breadcrumb">
	<li class="app-breadcrumb-inactive">
		<a href="{% url 'home.index' %}">
			<i class="fa fa-home" aria-hidden="true"></i>
			Inicio
		</a>
	</li>
	<li class="active app-breadcrumb-active">Resumen por año</li>
</ol>

<div class="container-fluid">

	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
							
				<div class="row">

					<form role="form" action="" method="POST" id="formulario"> {% csrf_token %}
					<div class="col-md-12">
						<h3 class="app-page-title">Resumen del año:</h3>
						{{ form.anio }}
					</div>
					</form>
				</div>

			</div>
		</div>
	</div>

</div>

<div class="container-fluid">

	<div class="row">

		{% if empresas_resumen %}

			{% for resumen in empresas_resumen %}

				<div class="col-sm-6 col-md-4 app-targeta">
				
					<div class="container-fluid app-targeta-body">

						<div class="row">

							<div class="col-xs-12">

									<div class="row">
										
										<div class="col-xs-4">
											
											{% if resumen.empresa.logo %}
												<img class="logo" src="{{ MEDIA_URL }}{{ resumen.empresa.logo }}" alt="logo">
											{% else %}
												<img src="{% static 'images/decoradores/no-image.jpg' %}" class="img-responsive img-thumbnail" alt="imagen">
											{% endif %}
										</div>

										<div class="col-xs-8 nombre">
											<p>{{ resumen.empresa.razon_social }}</p>
											{% if resumen.empresa.activa %}
												<h4 class="app-empresa-estado"><span class="label label-success">Activa</span></h4>
											{% else %}
												<h4 class="app-empresa-estado"><span class="label label-default">Deshabilitada</span></h4>
											{% endif %}
										</div>

									</div>
							</div>							
						</div>

						<div class="row">

							<div class="col-xs-6 app-info-labels">
								<div class="app-subtargeta-body">
									<div class="info-value">
										{{ resumen.proveedores_cantidad }}	
									</div>
									<div class="info-text">
										Folios Proveedor	
									</div>
								</div>
							</div>

							<div class="col-xs-6 app-info-values">

								<div class="app-subtargeta-body">
									<div class="info-value">
										$ {{ resumen.proveedores_total | floatformat:2 | intcomma }}
									</div>
									<div class="info-text">
										Importe
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-6 app-info-labels">

								<div class="app-subtargeta-body">
									<div class="info-value">
										{{ resumen.clientes_cantidad }}
									</div>
									<div class="info-text">
										Folios Cliente
									</div>									
								</div>
							</div>

							<div class="col-xs-6 app-info-values">
								<div class="app-subtargeta-body">
									<div class="info-value">
										$ {{ resumen.clientes_total | floatformat:2 | intcomma }}
									</div>
									<div class="info-text">
										Importe
									</div>									
								</div>

							</div>
						</div>

						<div class="row">
							<div class="col-xs-6 app-info-labels">

								<div class="app-subtargeta-body">
									<div class="info-value">
										{{ resumen.nomina_cantidad }}
									</div>
									<div class="info-text">
										Folios Nomina	
									</div>									
								</div>

							</div>

							<div class="col-xs-6 app-info-values">

								<div class="app-subtargeta-body">

									<div class="info-value">
										$ {{ resumen.nomina_total | floatformat:2 | intcomma }}
									</div>
									<div class="info-text">
										Importe	
									</div>
								</div>
							</div>
						</div>
						
					</div>

				</div>

			{% endfor %}

		{% else %}
			<div class="col-md-12">
				<h3 class="titulo">No se tiene ninguna empresa configurada</h3>
			</div>

		{% endif %}

			<div class="clearfix"></div>

	</div>

</div>


{% endblock contenido %}

{% block scripts %}

<!-- SMART -->
<script src="{% static 'all_by_year.js' %}"></script>

{% endblock %}
