@font-face {
    font-family: moon;
    src: url(/static/fonts/moon/Moon_Light.otf) format("opentype"),
        url(/smart/static/fonts/moon/Moon_Light.otf) format("opentype");
}

@font-face {
    font-family: moon-bold;
    src: url(/static/fonts/moon/Moon_Bold.otf) format("opentype"),
        url(/smart/static/fonts/moon/Moon_Bold.otf) format("opentype");
}

@font-face {
    font-family: brandon;
    src: url(/static/fonts/brandon/Regular.otf) format("opentype"),
        url(/smart/static/fonts/brandon/Regular.otf) format("opentype");
}

@font-face {
    font-family: brandon-bold;
    src: url(/static/fonts/brandon/Regular_bold.otf) format("opentype"),
        url(/smart/static/fonts/brandon/Regular_bold.otf) format("opentype");
}

@font-face {
    font-family: brandon-italic;
    src: url(/static/fonts/brandon/Regular_Italic.otf) format("opentype"),
        url(/smart/static/fonts/brandon/Regular_Italic.otf) format("opentype");
}

@font-face {
    font-family: 'HN';
    src: url(/static/fonts/hn/HN.woff) format('woff'), 
        url(/smart/static/fonts/hn/HN.woff) format('woff');
}

html, body {
    height: 100%;
}

a {
    text-decoration: none !important;
}

.badge-primary {

    background-color: #2563AB;
}

.app-header {
    background-color: #f2724f;
    border-radius: 0;
    margin-bottom: 0;
    border: 0 !important;
}

    .app-header-container .navbar-header {        
        margin-left: 0px;
    }

        .app-header-logo {
           width: 3em;
           height: 3em;
           margin-top: 4px;
        }

        .app-header-title {
            color: white;
            font-size: 1.8em;
            vertical-align: middle;
            font-family: moon, sans-serif;
        }

        .app-header-button {
            background-color: white !important;
        }    


    .app-menu {
        border-top: 0;
    }    

        .app-menu-options {
            margin-bottom: 0 !important;
            font-family: brandon;
            font-weight: light;
        }

        .app-menu-options li a span{
            color: white;
        }

        .app-menu-options .open .dropdown-menu { 
            background-color: white !important;
        }

        .app-menu-options .open .app-menu-opc { 
            background-color: #ef553b !important;
        }

        .app-menu-options .open .app-menu-opc-user { 
            background-color: #1B1B1B !important;
        }       

            .app-menu-opc {
                color: white !important;
            }

            .app-menu-opc:hover {
                background-color: #ef553b !important;
            }

            .app-menu-opc-user {
                color: white !important;
                background-color: #414a4e !important;
            }

            .app-menu-opc-user:hover {
                background-color: #1B1B1B !important;
            }            

                .app-menu-opc-sub {
                    color: #333 !important;
                }

                .app-menu-opc-sub:hover {
                    background-color: #f5f5f5 !important;
                }

    .breadcrumb {
        margin-bottom: 10px !important;
        border-radius: 0px;
        border-bottom: 1px solid #DEE1E1;
    }

        .app-breadcrumb-inactive  a {
            color: #a1aaae !important;
        }

    .app-breadcrumb-active {
        color: #414a4e !important;
    }

    .app-page-title {
        font-family: HN, sans-serif;
        margin-top: 18px !important;
        display: inline-block !important;
    }

    .app-filtros .panel {
        margin-bottom: 10px !important;        
    }

    .app-filtros .panel .panel-heading .panel-title {
        font-family: HN, sans-serif;
    }

    .app-filtros .panel .panel-heading a {
        text-decoration: none;
    }

    .app-filtros .panel .panel-body label {
        font-size: 12px;
        font-family: HN, sans-serif;
    }

    .app-resultados {
        height: 68%;
    }

        .app-resultados-tooblar {
            border-radius: 4px 4px 0 0 !important;
            margin-bottom: 0;
            border: .6px solid #C2C5C5;
            border-bottom: 0;
            background-color: #F3F3F3;
        }

        .app-resultados-grid {
            height: 100%;
            font-size: .8em;
            font-family: Tahoma, Verdana, sans-serif;
        }

        .app-resultados-grid .k-grid-header {
            /* font-family: HN; */
            font-family: sans-serif;
        }

        .app-resultados-grid__empy {
            font-size: 35px;
            text-align: center;
            margin-top: 2em;
            font-family: moon, sans-serif;
        }        

            .k-grid, .k-scheduler, .k-menu, .k-editor {
                border-radius: 0 0 4px 4px !important;
            }

            .k-link input[type=checkbox] {
                margin: 4px 2px 0 0
            }

            .app-grid-boton-editar {
                color: white !important;
                background-color: #ED9F34 !important;
            }

@media only screen and (min-width : 768px) {

    .app-header-container {
        padding-right: 0;
    }

        .app-header-logo {
           width: 5em;
           height: 5em;
           margin-top: 0px;
        }

        .app-header-title {
            color: white;
            font-size: 2em;
            vertical-align: middle;
            font-family: moon, sans-serif;
        }

        .app-menu-options li a {
            line-height: 2.9em;
        }


/*     .app-filtros .panel {
        margin-bottom: 10px !important;        
    } */

    .app-page-title {
        font-family: HN, sans-serif;;
        font-size: 24px;
        margin-top: 20px !important;

    }

        .app-resultados-grid__empy {
            font-size: 35px;
            text-align: center;
            margin-top: 4em;
            font-family: moon, sans-serif;
        }       

}


/* .vcenter {
    display: inline-block;
    
    float: none;
} */



/* a, a:hover, a:focus {
    color: #ffffff;
    text-decoration: none;
}



h1 {
	font-size: 30px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 17px;
}

.breadcrumb {
    background-color: #494949;
    border-radius: 0px;
    margin-bottom: 10px;
}

.breadcrumb > .active {
    color: #cccccc;
}




.logoapp {
	height: 60px;
	text-align: center
}

.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
    padding-top: 10px;
}

.navbar-default {
    background-color: #ffffff;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #E10703;
    color: #ffffff;
}

.navbar-default .navbar-nav> li> a:hover, .navbar-default .navbar-nav> li > a:focus {
    color:#E10703;
}

.navbar-nav .open .dropdown-menu{
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #FD1D17;
 }
.navbar-default .navbar-toggle {
    border-color: #E10703;
    background-color: #E10703;
}

.navbar-default .navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
    padding-bottom: 0;
    padding-top: 14px;
}



 */ 