
html, body {
  height: 100%;
}

a, a:hover, a:focus {
    color: #E10703;
    text-decoration: none;
}

.page-header {
    border-bottom: 1px solid transparent;
    margin: 30px 0 0;
    padding-bottom: 0;
}


.logoapp {
	height: 60px;
	text-align: center
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:100px; /* this needs to be bigger than footer height*/
}

.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-default {
    background-color: #ffffff;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #E10703;
    color: #ffffff;
}

.dropdown-menu {
    border: 0px solid;
}

.dropdown-menu > li > a {
    color: #000000;
}

.dropdown-menu > li > a:focus {
    color: #ffffff;
}

.dropdown-menu > li> a:hover, .dropdown-menu> li > a:focus{ 
	background-color:#E10703;
	color:#fff;
}

.navbar-default .navbar-nav> li> a:hover, .navbar-default .navbar-nav> li > a:focus {
	color:#E10703;
}

.navbar-nav .open .dropdown-menu{
	background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #FD1D17;
 }
.navbar-default .navbar-toggle {
    border-color: #E10703;
    background-color: #E10703;
}


.breadcrumb {
    background-color: #494949;
    border-radius: 0px;
}
.breadcrumb > .active {
    color: #cccccc;
}
.footer {
	background-color: #494949;
	color: #fff;
	position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;
	padding-top:20px;
	border-top: medium solid #e10703;
}

.titulo {
	margin-top: -40px;
}

.sin-resultados {
	text-align: center;
}

.barra-tareas {
	margin-bottom: 2em;
}

.mensaje--center {
	text-align: center;
}

.grid {
	font-size: .8em;
	margin-bottom: 2em;
}

.filtros {
	font-size: .8em;	
}

table a:not(.btn), .table a:not(.btn) {
    text-decoration: none;
}


