
html, body {

	height: 100%;	
    background-attachment:fixed !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;	
    background: white url(images/fondos/login-new.jpg) !important;
}

.contenedor {
	height: 100%;
	width: 100%;
	display: table;
}

.app-panel-form {
	height: 100%;
	/* background-color: white; */
	display: table-cell;
}

	.app-form {
		margin-top: 2em;		
	}

	.app-image-login {

		/* width: 20em; */
		margin: 0 auto !important;
	}

	.app-form-inputs {
		margin-top: 1em;
	}

		.app-form-inputs .form-group label {
			color: white;
		}

	.app-btn-entry {
		width: 100%;
		height: 3em;
		margin-top: 1em;
	}

	.app-label-forgot {
		margin-top: 1em;
		text-align: center;

	}

		.app-label-forgot a { 
			color: white;
		}

.app-panel-image {

	display: none;
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.app-form {
		margin-top: 7em;		
	}

		.app-label-forgot {		
			margin-top: 4em;
			font-size: 18px;
		}

}


@media only screen and (min-width : 992px) { 

	.contenedor {
		height: 100%;
		width: auto;
	}	

	.app-panel-form {
		width: 40em;

	}	
		.app-form {
			margin-top: 9em;		
		}

		.app-label-forgot {		
			margin-top: 3em;
		}		

		.app-form-inputs {
			margin-top: 2em;
		}

	.app-panel-image {
		color: white; 
		display: block;
	}		
}


@media only screen and (min-width : 1024px) and (min-height: 1366px) { 

	
	html, body {
		background: white url(images/fondos/login-new-ver.jpg) !important;
	}

		.contenedor {
			height: 100%;
			width: 100%;
			display: table;
		}	

			.app-label-forgot a {
				color: black;
			}

			.app-panel-image {

				display: none;
			}

}