{% extends 'master.html' %}

{% load static from staticfiles %}

{% block title %} Comprobantes de Proveedores {% endblock title %}

{% block css %}

<!-- Kendo -->
<link rel="stylesheet" href="{% static 'libs/kendo/styles/kendo.rtl.min.css' %}"/>
<link rel="stylesheet" href="{% static 'libs/kendo/styles/kendo.common-bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'libs/kendo/styles/kendo.bootstrap.min.css' %}"/>

<!-- Alertifyjs --> 
<link rel="stylesheet" href="{% static 'libs/alertifyjs/css/alertify.min.css' %}" />
<link rel="stylesheet" href="{% static 'libs/alertifyjs/css/themes/bootstrap.css' %}" />

<!-- jQuery UI --> 
<link rel="stylesheet" href="{% static 'libs/jquery-ui/jquery-ui.min.css' %}"/>


{% endblock css %}

{% block contenido %}

<ol class="breadcrumb">
	<li class="app-breadcrumb-inactive">
		<a href="{% url 'home.index' %}">
			<i class="fa fa-home" aria-hidden="true"></i>
			Inicio
		</a>
	</li>
	<li class="active app-breadcrumb-active">Obtener Facturas</li>
</ol>

<div class="container-fluid app-filtros">

	<!-- Filtros -->
	<div class="row">
		<div class="col-md-12">
			<form action="" method="POST"> {% csrf_token %}
				<div class="panel panel-info">

				  	<div class="panel-heading">
			      		<h3 class="panel-title">
			      		
				      		<span class="glyphicon glyphicon-search" aria-hidden="true">
				      		</span>
							Filtros
			      		</h3>				      		
				  	</div>
			  		<div class="panel-body">
			
						<div class="col-md-6">
							<div class="form-group input-group-sm">
								<label for="{{ form.empresa.id_for_label }}">Empresa:</label>
								{{ form.empresa }}
							</div>
						</div>

						<div class="col-md-6">

							<div class="form-group">
								
								<div class="row">

									<div class="col-sm-6 col-md-6 col-lg-6 input-group-sm">
										<label>Fecha:</label>
										{{ form.fecha_inicio }}
									</div>

									<div class="col-sm-6 col-md-6 col-lg-6 input-group-sm">
										<label>&nbsp;</label>
										{{ form.fecha_final }}
									</div>
								</div>
							</div>
						</div>				
						
					</div>

				  	<div class="panel-footer">
						<button type="submit" class="btn btn-success btn-sm" id="id_buscar">
			  				Obtener
			  			</button>
				  	</div>
				</div>	
			</form>
		</div>

		<div class="col-md-12">

			<div class="hidden" id="id_bandera">{{bandera}}</div>

			{% if bandera %}
				{% if bandera == "INICIO_PROCESO" %}
					<div class="alert alert-info alert-dismissible mensaje--center" role="alert" >
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						{{ mensaje }}
					</div>
				{% else %}
					<div class="alert alert-danger mensaje--center">
						{{ mensaje }}
					</div>
				{% endif %}
			{% endif %}
		</div>		
	</div>
</div>


<div class="container-fluid app-resultados {% if bandera != "INICIO_PROCESO" %} hidden {% endif %}">

	<div id="resultados" class="app-resultados-grid" >
	</div>
</div>

{% endblock contenido %}

{% block scripts %}

<!-- Alertifyjs -->
<script src="{% static 'libs/alertifyjs/alertify.min.js' %}"></script>

<!-- Moment -->
<script src="{% static 'libs/moment/moment.js' %}"></script>

<!-- Kendo Js-->
<script src="{% static 'libs/kendo/js/cultures/kendo.culture.es-MX.min.js' %}"></script>
<script src="{% static 'libs/kendo/js/kendo.web.min.js' %}"></script>

<!-- jQuery-UI -->
<script src="{% static 'libs/jquery-ui/jquery-ui.min.js' %}"></script>

<!-- SmartCFDI -->
<script src="{% static 'resumen/obtener_facturas.js' %}"></script>

{% endblock scripts %}