.cell--error {
	background-color: #F60009;
	color: white;
	text-align: center;
}

.cell--detalle {
	background-color: #FBE40C;
	color: #2E00C9;
	text-align: center;
}

.cell--exito {
	background-color: #1C9E39;
	color: white;
	text-align: center;
}

.cell--procesando {
	background-color: #7B5CE2;
	color: white;
	text-align: center;
}

.cell--otros {
	text-align: center;
}